<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.ejs")%>
</head>

<body>
    <%- include("partials/nav.ejs")%>
        <h1 class="titulo__home">Perguntas</h1>
        <div class="container">
            <section>
                <% perguntas.forEach(pergunta=> { %>
                    <div class="card">
                        <div class="card-body">
                            <h3>
                                <%= pergunta.titulo %>
                            </h3>
                            <p>
                                <%= pergunta.descricao %>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="/pergunta/<%= pergunta.id %>"><button
                                    class="btn__responder-home">Responder</button></a>
                        </div>
                    </div>
                    <% }) %>
            </section>
        </div>
        <%- include ("partials/script.ejs") %>
</body>

</html>